*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-foreground: #222222;
  --ratio: 1.5;
  --s-1: calc(var(--s0) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-5: calc(var(--s-4) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));

  color: var(--color-foreground);
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 120%;
  line-height: var(--ratio);
}

a:link,
button:not(:disabled) {
  cursor: pointer;
}

address {
  font-style: unset;
}

html,
body,
#root {
  height: 100%;
  padding: 0;
  margin: 0;
}

ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.visually-hidden:not(:focus):not(:active) {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
